* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/welcome-3545154_1920.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 70%;
    backdrop-filter: blur(10px);
    background-color: #ffffff2f;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    color: #ffffffa8;
    font-weight: 100;
}

button {
    padding: 10px 20px;
    border: 2px solid #5b5252;
    color: #5b5252;
    background: none;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: rotate .5s, border-radius .5s;
    cursor: pointer;
    text-transform: uppercase;
}



.name {
    color: #ffffff;
    font-size: 40px;
}

@media (min-width: 414px) {
    h1 {
        font-size: 80px;
    }

    .name {
        font-size: 50px;
    }

}

@media (min-width: 768px) {
    h1 {
        font-size: 111px;
    }

    .name {
        font-size: 88px;
    }

    button {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    button:hover {
        rotate: 5deg;
        border-radius: 0;
    }
}